In [2]:
import numpy as np
import pandas as pd

from scipy.io import arff

In [4]:
data, meta = arff.loadarff("../../data/raw/adult.arff")
data = np.array(data.tolist())    # unless its one dim vector with np.void
print(data)

[[b'2' b'State-gov' b'77516.0' ... b'2' b'United-States' b'<=50K']
 [b'3' b'Self-emp-not-inc' b'83311.0' ... b'0' b'United-States' b'<=50K']
 [b'2' b'Private' b'215646.0' ... b'2' b'United-States' b'<=50K']
 ...
 [b'2' b'Private' b'374983.0' ... b'3' b'United-States' b'<=50K']
 [b'2' b'Private' b'83891.0' ... b'2' b'United-States' b'<=50K']
 [b'1' b'Self-emp-inc' b'182148.0' ... b'3' b'United-States' b'>50K']]

In [5]:
print(meta)

Dataset: adult
	age's type is nominal, range is ('0', '1', '2', '3', '4')
	workclass's type is nominal, range is ('Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked')
	fnlwgt's type is numeric
	education's type is nominal, range is ('Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters', '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool')
	education-num's type is numeric
	marital-status's type is nominal, range is ('Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse')
	occupation's type is nominal, range is ('Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces')
	relationship's type is nominal, range is ('Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried')
	race's type is nominal, range is ('White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black')
	sex's type is nominal, range is ('Female', 'Male')
	capitalgain's type is nominal, range is ('0', '1', '2', '3', '4')
	capitalloss's type is nominal, range is ('0', '1', '2', '3', '4')
	hoursperweek's type is nominal, range is ('0', '1', '2', '3', '4')
	native-country's type is nominal, range is ('United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece', 'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland', 'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland', 'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia', 'Hungary', 'Guatemala', 'Nicaragua', 'Scotland', 'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong', 'Holand-Netherlands')
	class's type is nominal, range is ('>50K', '<=50K')

In [6]:
df = pd.DataFrame(data, dtype=str)
print(f"Nans number: {np.sum(df.apply(lambda x: sum(x.isnull()), axis=0))}")

Nans number: 0

In [7]:
names = np.array(meta.names())
types = np.array(meta.types())
print(names)
print(types)

['age' 'workclass' 'fnlwgt' 'education' 'education-num' 'marital-status'
 'occupation' 'relationship' 'race' 'sex' 'capitalgain' 'capitalloss'
 'hoursperweek' 'native-country' 'class']
['nominal' 'nominal' 'numeric' 'nominal' 'numeric' 'nominal' 'nominal'
 'nominal' 'nominal' 'nominal' 'nominal' 'nominal' 'nominal' 'nominal'
 'nominal']